.App {
  text-align: center;
  display: 'flex';
  flex-direction: 'column';
  min-height: 100vh;
  min-width: 100vw;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #282828;
}

::-webkit-scrollbar-thumb {
  background-color: #d5c4a1;
  border-radius: 20px;
}

body {
  background-color: #282828; /* theme.palette.background.default */
  color: #ebdbb2; /* theme.palette.text.primary */
}
